body > div {
	border: 4px #ffffff solid;
	border-radius: 15px;
	padding: 1%;
}

input {
	font-size: 150%;
	position: sticky;
	top: 1%;
}

td {transition: ease 0.2s;}
td:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	text-shadow: none;
}

.inutile {background-color: #cc0000;}
.utile {background-color: #00cccc}
.doublon *:not(button) {border: 2px dashed #cccc00;}

@media (min-width: 1000px) {body > div {columns: 2;}}

@media (min-width: 1350px) {body > div {columns: 3;}}
