* {
	text-align: center;
	font-family: garamond;
	color: #ffffff;
}

a {
	text-decoration: none;
	transition: ease 0.2s;
}
a:hover {
	color: #abcdef;
	cursor: pointer;
}

body {font-size: 200%;}

button {
	font-family: consolas;
	font-weight: bold;
}

#contenu {
	border: 4px #ffffff solid;
	border-radius: 15px;
	padding: 1%;
}

iframe {width: 100%;}

input {
	font-size: 150%;
	font-family: consolas;
	position: sticky;
	top: 1%;
	background-color: #303841;
	border-radius: 5px;
}

table {
	border: 2px #ffffff solid;
	border-radius: 10px;
}

td {transition: ease 0.2s;}
td:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	text-shadow: 0 0 0;
}

th {
	padding: 15px;
	border-radius: 5px;
}

.inutile {background-color: #cc0000;}
.vide {background-color: #cccccc;}
.vide *:hover {cursor: not-allowed;}
.utile {background-color: #00cccc}
.doublon * {border: 2px dashed #cccc00;}

@media (orientation: landscape) and (min-width: 910px) {

#contenu {columns: 2;}
body {font-size: 100%;}

}

@media (orientation: landscape) and (min-width: 1350px) {

#contenu {columns: 3;}
body {font-size: 100%;}

}
